
    <input type="number" [(ngModel)]="a" >
    <input type="number" [(ngModel)]="b" >
    <input type="color"  [(ngModel)]="c">
    <p style="color:{{c}} ">{{a+b}}</p>
    <p>{{a-b}}</p>
    <p>{{a*b}}</p>
    <p>{{a/b}}</p>


<!--    <td><input  #element placeholder="Nhập phép tính" (change)="excutes(element.value)" ></td>-->
<!--    <td><input placeholder="Nhập màu" type="color" [(ngModel)]="color" ></td>-->
<!--    <td><input  placeholder="Kết quả" [ngModel]="result" [style.color]="color"></td>-->
<!--    <td><input type="button" value="tính" (click)="results()" ></td>-->

